@charset "utf-8";

@import "primer/index.scss";

@import "trophies-table.scss";

.form-group.errored {
  margin-bottom: 50px;
}

.medals {
  font-size: 32px;
}

.category-awards-label {
  display: inline-block;
  width: 200px;
}
