@charset "utf-8";

@import "primer/index.scss";

@import "data-table.scss";

.form-group.errored {
  margin-bottom: 50px;
}

.medals {
  font-size: 32px;
}

.medals-container {
  border-top: 1px solid $border-gray-light;

  ul {
    display: table;
    width: 100%;

    li {
      border-left: 1px solid #e1e4e8;
      display: block;
      float: left;
      width: 50%;
      padding-bottom: 10px;
      text-align: center;

      &:first-child {
        border-left: 0;
      }

      &:only-child {
        width: 100%;
      }
    }
  }
}
